@model MVC.Models.Evento.EventoVM

@{
    ViewData["Title"] = "Detalles Evento";
}

<section class="row pb-4 mt-5">
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="alert alert-danger text-center">@ViewBag.ErrorMessage</p>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert alert-danger text-center">@TempData["ErrorMessage"]</p>
    }
    <h1 class="col-12">Detalles</h1>

    <div class="col-12">
        <h3 class="text-danger">@Model.NombrePrueba</h3>
        <hr />
        <dl class="row fs-5">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FchInicio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FchInicio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FchFin)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FchFin)
            </dd>
        </dl>
    </div>

    <div class="col-12">
        <div>
            <form method="post" asp-action="Details">
                <input type="hidden" value="@Model.Id" asp-for="Id" />
                @* @foreach(var PEA in Model.LiPuntajes)
                {
                    <p>@PEA.Atleta.Nombre</p>
                    <input type="hidden" asp-for="PEA.Atleta.Id" />
                    <input asp-for="LiPuntajes." placeholder="Puntaje Actual @PEA.Puntaje" type="number" />
                } *@
                @for (int i = 0; i < Model.LiPuntajes.Count(); i++)
                {
                    <div>
                        <p>@Model.LiPuntajes[i].Atleta.Nombre</p>
                        <input type="hidden" asp-for="LiPuntajes[i].Atleta.Id" />
                        <input asp-for="LiPuntajes[i].Puntaje" placeholder="Puntaje Actual @Model.LiPuntajes[i].Puntaje" type="number" />
                    </div>
                }
                <input type="submit" value="Guardar cambios" />
            </form>
        </div>
    </div>


    <a asp-action="Details" asp>Guardar cambios</a>


    <p class="link link-success text-decoration-underline" data-bs-toggle="modal" data-bs-target="#modal-disciplina">Registrar en disciplina</p>

    <div>
        <a asp-action="Index" class="text-success">Volver</a>
    </div>

    @*  <!-- Modal -->
    <div class="modal fade" id="modal-disciplina" tabindex="-1" aria-labelledby="atletaModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header bg-danger text-white">
    <h5 class="modal-title" id="exampleModalLabel">Registrar atleta en disciplina</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>


    <div class="modal-body pb-0">




    @if (listDisciplinas.Count() == 0)
    {
    <p>Aún no existen disciplinas</p>
    }
    else
    {
    <form method="post" asp-action="AgregarDisciplina">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-control">
    <label for="idDisciplina" class="form-label">Seleccionar disciplina</label>
    <select id="idDisciplina" name="idDisciplina" class="form-select">
    @foreach (var d in ViewBag.Disciplinas)
    {
    <option value="@d.Id">@d.Nombre</option>
    }
    </select>
    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
    <input type="submit" value="Registrar" class="btn btn-success" />
    </div>
    </form>
    }
    </div>

    </div>
    </div>
    </div> *@

    </div>
</section>

