@model IEnumerable<MVC.Models.Evento.EventoListaVM>

@{
    ViewData["Title"] = "Buscar Eventos";
}



@if (ViewBag.ErrorMessage != null)
{
    <p class="alert alert-danger text-center">@ViewBag.ErrorMessage</p>
}
@if (TempData["ErrorMessage"] != null)
{
    <p class="alert alert-danger text-center">@TempData["ErrorMessage"]</p>
}
@if (TempData["Message"] != null)
{
    <p class="alert alert-success text-center">@TempData["Message"]</p>
}

<div class="row mt-5 mb-3">
    <h1>Buscar Eventos</h1>


    <div class="col-12 col-md-10 offset-md-1 d-flex justify-content-center mt-3">
        <form asp-action="Busqueda" method="get" class="w-100 rounded p-4 border border-3 border-danger">
            <h2 class="text-center mb-1 text-danger">Buscar Por:</h2>
            <p class="text-center mb-2"><small><i>Puede ingresar una o varias opciones</i></small></p>

            <div class="row">
                <div class="col-6 form-group mb-1">
                    <label for="DisciplinaId" class="control-label mb-1">Disciplina ID</label>
                    <input id="DisciplinaId" name="DisciplinaId" class="form-control" />
                </div>
                <div class="col-6 form-group mb-1">
                    <label for="NombreEvento" class="control-label mb-1"></label>
                    <input id="NombreEvento" name="NombreEvento" class="form-control" />
                </div>
            </div>


            

            <div class="form-group mb-1">
                <label for="FchInicio" class="control-label mb-1"></label>
                <input id="FchInicio" name="FchInicio" class="form-control" />
            </div>
            <div class="form-group mb-1">
                <label for="FchFin" class="control-label mb-1"></label>
                <input id="FchFin" name="FchFin" class="form-control" />
            </div>
            
            <div class="form-group mb-1">
                <label for="PuntajeMin" class="control-label mb-1"></label>
                <input id="PuntajeMin" name="PuntajeMin" class="form-control" />
            </div>
            <div class="form-group mb-1">
                <label for="PuntajeMax" class="control-label mb-1"></label>
                <input id="PuntajeMax" name="PuntajeMax" class="form-control" />
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Buscar" class="btn btn-danger w-100" />
            </div>
        </form>
    </div>

    <div class="col-12">
        <h1>Lista de Eventos</h1>

        @if (Model != null)
        {
            int contador = 0;
            foreach (var item in Model) contador++;
            if (contador > 0)
            {
                <table class="table mt-4">
                    <thead class="thead-rojo">
                        <tr>
                            <th class="py-3">Id</th>
                            <th class="py-3">Nombre de la Prueba</th>
                            <th class="py-3">Fecha Inicio</th>
                            <th class="py-3">Fecha Finalización</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-3">
                                    @Html.DisplayFor(modelItem => item.EventoId)
                                </td>
                                <td class="py-3">
                                    @Html.DisplayFor(modelItem => item.NombrePrueba)
                                </td>
                                <td class="py-3">
                                    @Html.DisplayFor(modelItem => item.FchInicio)
                                </td>
                                <td class="py-3">
                                    @Html.DisplayFor(modelItem => item.FchFin)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p><i>La búsqueda no devolvió resultados</i></p>
            }
        }
    </div>

</div>
