@model IEnumerable<MVC.Models.Atleta.AtletaListaVM>

@{
    ViewData["Title"] = "Lista Atletas";
}

<section class="row mt-5 mb-3">
    <div class="col-12">
        <h1>Lista Atletas</h1>

        @if (TempData["ErrorMessage"] != null)
        {
            <p class="alert alert-warning text-center">@TempData["ErrorMessage"]</p>
        }

        <table class="table mt-4">
            <thead class="thead-rojo">
                <tr>
                    <th class="py-3 d-none">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="py-3">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th class="py-3">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th class="py-3">
                        @Html.DisplayNameFor(model => model.Sexo)
                    </th>
                    <th class="py-3">
                        @Html.DisplayNameFor(model => model.NombrePais)
                    </th>
                    <th class="py-3">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="d-none">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="py-3">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td class="py-3">
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td class="py-3">
                            @Html.DisplayFor(modelItem => item.Sexo)
                        </td>
                        <td class="py-3">
                            @Html.DisplayFor(modelItem => item.NombrePais)
                        </td>
                        <td class="py-3">
                            <div class="d-flex flex-column flex-wrap flex-md-row gap-md-2 align-baseline">
                                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "text-success" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
